<!-- url here is where the form redirects to after submitted --> 
<h1>Edit post</h1>

<!-- this accessess the _form.html.erb file and uses that form.. as its DRYer -->
<%= render 'form' %>

<%= link_to 'Posts', posts_path %>
