<!-- this view is to view single artickles, ie. one at a time when selected -->

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= link_to 'Posts', posts_path %>